@charset "UTF-8";
/*esse é no mobile first na parallax*/
/*título das seções*/
/*subtítulos das sections*/
/*título da parallax no desktop*/
/*sub desktop parallax*/
.section-titulo, .titulo-hackathon {
  text-transform: uppercase;
  font-size: 1.7rem;
}

.border {
  width: 160px;
  height: 2px;
  background: black;
  margin: 40px auto;
}

.sobre p {
  text-align: justify;
}

.section-titulo, .texto, .box, .titulo-hackathon, .contato-section {
  text-align: center;
}

.container {
  justify-content: center;
}

.container, .sobre-section-linha {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  display: inline-block;
  border: 3px solid black;
  color: black;
  width: 70px;
  height: 70px;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

.titulo-parallax {
  font-size: 3rem;
}

.servicos-section {
  padding: 60px 0;
}

.texto {
  font-size: 1.5rem;
  padding: 0 10px;
}

.container {
  flex-wrap: wrap;
}

.box {
  max-width: 33.33%;
  padding: 10px;
  cursor: pointer;
}

.icon {
  color: black;
}

.icon i {
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 33px;
}

.box:hover .icon, .contato-section button:hover {
  background: black;
  color: #ddd;
}

.servico-titulo {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.servico-desc {
  font-size: 16px;
}

.projetos-destaques {
  font-weight: bolder;
  color: white;
}

.projetos-destaques i {
  color: white;
}

.hackathon {
  color: red;
  font-weight: bolder;
  text-transform: uppercase;
}

.titulo-hackathon {
  color: white;
}

.sobre-section {
  width: 100%;
  padding: 40px 0;
}

.interior-width {
  padding: 0 20px;
  margin: auto;
}

.sobre-section-linha {
  flex-wrap: wrap;
}

.sobre-section-coluna {
  flex: 100%;
  margin: 10px 0;
}

.sobre {
  padding-right: 30px;
  padding: 0;
}

.sobre p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
}

.embed {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.embed iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

.contato-section {
  padding: 80px 0;
}

.meio-width {
  max-width: 700px;
  margin: auto;
  padding: 0 20px;
}

.name, .email, .message {
  background: none;
  border: none;
  /* outline é contorno */
  outline: none;
  border-bottom: 1px solid;
  color: black;
  padding: 10px 6px;
  font-size: 16px;
  margin-bottom: 40px;
}

.name {
  float: left;
  width: 100%;
}

.email {
  float: right;
  width: 100%;
}

.message {
  min-width: 100%;
  max-width: 100%;
}

.contato-section button {
  background: none;
  color: black;
  border: 1px solid black;
  padding: 12px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.4s linear;
  cursor: pointer;
}

.patricio {
  width: 40%;
  height: 30%;
}

@media screen and (min-width: 700px) {
  .sobre-section-coluna {
    flex: 50%;
  }
  .video {
    padding-left: 30px;
  }
}

.patricio {
  width: 15%;
  height: 20%;
}

@media screen and (min-width: 960px) {
  .box {
    max-width: 45%;
  }
  .titulo-parallax {
    font-size: 5rem;
  }
  .sub-parallax {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .box {
    max-width: 100%;
  }
}
